body,
html {
    margin: 0;
    padding: 0;
}

.page {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

#page-one {
    position: realtive;
}

#bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#bg-image-particle {
    width: 400px;
    height: 500px;
    object-fit: cover;
    position: absolute;
    top: 50vh;
    left: 50vh;
}

#page-two {
    background-color: rgb(243, 243, 230);
}

h1{
 width: 100%;   
 font-size: 100px; 
 margin-bottom: 20px;
 margin-left: 15px;
 margin-top: 0%;
  
}

h2{
    color: rgb(159, 7, 7);
    margin-left: 10px;
}
h3{


}

h4{
    width: 97%;
    font-size: 20px;
    margin-top: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-left: 15px;
    margin-bottom: 0%;

   
}

.Avsnitt1{
   float: left;
   text-align: left;
   margin-left: 0px;

}
.Avsnitt2{
   
    

}
.Avsnitt3{
    margin-top: 0px;

}
.Avsnitt1, .Avsnitt2, .Avsnitt3{
    padding-top: 0px;
    float: left;
    width: 31%;
    padding-left: 16px;
    padding-right: 17px;
    text-align: justify; 
    
    
   
}

#Boks{
    background-color: rgb(216, 212, 197);

   
}
#info{
    margin-left: 10px;
    margin-bottom: 20px;
}

#Stor{
margin-top: -12px;
float: left;
font-size: 70px;   
}


